body,
html,
.row {
    height: 100%;
}

.wrapper {
    background-color: black;
    height: 100%;
}

#cdmx,
#lim,
#scl,
#spl {
    background-color: rgb(255, 229, 33);
}

#header{
    background-color: rgb(255, 229, 33);
    height: 15%;
    align-items: center;
}
#labLogo{
    width: 50%
}
.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }